# API Configuration
# In a real environment, this would not be committed to the repository.
# Used to set the base API URL depending on the environment (development/staging/production).
API_URL=https://itx-frontend-test.onrender.com/api
